*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg, #1a1a1a, #3a003a);
    color:white;
    text-align:center;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.hero h1{
    font-size:40px;
    margin-bottom:20px;
    animation: fadeIn 2s ease-in-out;
}

.hero p{
    font-size:18px;
    margin-bottom:30px;
    opacity:0.8;
}

button{
    background:#ff4da6;
    border:none;
    padding:15px 30px;
    font-size:18px;
    color:white;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff1a8c;
    transform: scale(1.1);
}

.contenido{
    display:none;
    padding:60px 20px;
}

.galeria{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin-top:30px;
    padding:20px;
}

.foto{
    width:220px;
    border-radius:20px;
    box-shadow: 0 0 25px rgba(255, 77, 166, 0.7);
    transition:0.3s;
}

.foto:hover{
    transform: scale(1.05);
}

.mensaje{
    margin-top:40px;
    font-size:20px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.6;
}

@keyframes fadeIn{
    from{opacity:0; transform: translateY(-20px);}
    to{opacity:1; transform: translateY(0);}
}
.corazon{
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: caer linear infinite;
    z-index: 999;
}

@keyframes caer{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity:0;
    }
}


.imagen-hero{
    width:90%;
    max-width:500px;
    border-radius:30px;
    margin:30px 0;
    box-shadow: 0 0 40px rgba(255, 77, 166, 0.8);
    transition:0.4s;
}

.imagen-hero:hover{
    transform:scale(1.05);
}
